[submodule "nvim"]
	path = nvim
	url = https://github.com/cyb3rkun/nvim
	branch = master
[submodule "waybar"]
	path = hyprland.waybar
	url = https://github.com/cyb3rkun/hyprland.waybar
	branch = master
[submodule "wofi"]
	path = wofi
	url = https://github.com/cyb3rkun/arch.hyprland.wofi
