[submodule "waybar"]
	path = waybar
	url = https://github.com/cyb3rkun/hyprland.waybar
	branch = master
[submodule "wofi"]
	path = wofi
	url = https://github.com/cyb3rkun/arch.hyprland.wofi
[submodule "hypr"]
	path = hypr
	url = https://github.com/cyb3rkun/arch.hyprland
